/* Styles for Skills, Projects, About sections */
.main-skills {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #2d9e7644;
    border-radius: 10px;
    background-color: #275657;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

.skill-card {
    height: auto;
    max-height: 200px;
    width: auto;
    max-width: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #355d62;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.1);
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-card .img {
    height: 100px;
    width: 100px;
    padding: 4px;
    object-fit: cover;
}

.skill-card h3 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    .main-skills {
        grid-template-columns: repeat(2, 1fr);
        font-size: 16px;
    }

    .skill-card {
        max-height: 180px;
        max-width: 150px;
    }

    .skill-card .img {
        height: 80px;
        width: 80px;
    }

    .skill-card h3 {
        font-size: medium;
    }
}

/* Media Query for screens smaller than 480px */
@media (max-width: 480px) {
    .main-skills {

        grid-template-columns: repeat(2, 1fr);
        font-size: 14px;
    }

    .skill-card {
        max-height: 160px;
        max-width: 120px;
    }

    .skill-card .img {
        height: 60px;
        width: 60px;
    }

    .skill-card h3 {
        font-size: small;
    }
}
