/* Skills,Projects,About */
.main-skills {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #2d9e7644;
    border-radius: 10px;
    background-color: #1e797a;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
}

.skill {
    display: flex;
    align-items: center;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(20px); 
    animation: fadeIn 1s forwards; 
    animation-delay: var(--delay); 
}

label {
    flex: 0.7;
    font-weight: bold;
}

.range-container {
    position: relative;
    flex: 2;
    margin-left: 10px;
}



@keyframes fadeIn {
    to {
        opacity: 1; /* Fade in */
        transform: translateY(0); /* Move to original position */
    }
}
